@mixin flex($dir: column, $centered: false) {
    display: flex;
    flex-direction: $dir;
    gap: 1rem;
  
    @if $centered {
      justify-content: center;
      align-items: center;
    }
  }