@import "./variables";

.App {
  width: 100%;
  min-height: 100vh;

  background-color: $background-color;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  main {
    flex: 1;
    color: $text-color;
  }
}

#test {
  flex: 1;
}